@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  /* --color-blue-600: #3885db; */
  --color-blue-600: #276fbf;
  --color-blue-700: #1f60a7;
  --color-blue-500: #1f60a7;
  --color-blue-900: #5176a6;
}
/* Mejora el rendimiento y la estética del slider */
input[type="range"]::-webkit-slider-thumb {
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}
input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2); 
  cursor: grabbing;
}

@layer base {
  body {
    @apply font-sans text-slate-900 bg-white;
  }
}
